<!-- 
<div class="mt-5 mb-5 chart-container" >
    <h2 style="text-align: center;">Cummulative increase of Confirmed cases in India</h2>
    <canvas id="canvas" class="mr-2 ml-2">{{chart}}</canvas>
</div> 

<div class="mt-5 mb-5 chart-container" >
    <h2 style="text-align: center;">Daily increase of Confirmed cases in India</h2>
    <canvas id="canvas1" class="mr-2 ml-2">{{chart1}}</canvas>
</div> -->
<div class="mt-5 load-contents" style="display: flex; flex-direction: row; justify-content: center; ">
    <button class="btn btn-outline-primary mx-5" (click)="generateTotalsChart()">Cummilative Data</button>
    <button class="btn btn-outline-primary mx-5" (click)="generateDailyChart()">Daily Data</button>
</div>

<div class="mt-3 chart-container load-contents">
    <canvas id="canvas" class="mr-2 ml-2" >{{chart}}</canvas>
</div>


