canvas{
    width: 90% !important;
}
 /* .chart-container{
    height: 50%;
}  */

 /* @media (orientation:portrait) {
    .chart-container {
      height: 20%;  
    }
   } 
   
   @media (orientation:landscape) {
    .chart-container {
      height: 90vh;
    }
}   */