canvas{
    width: 80% !important;
}
.chart-container{
   
    height: 30%;
}
 @media (orientation:portrait) {
    .chart-container {
      min-height: 20%;
    }
   } 
   
   @media (orientation:landscape) {
    .chart-container {
      min-height: 90vh;
    }
   }