
    <nav class="navbar navbar-expand-lg navbar-light bg-light" style="animation-delay: 0s;">
        <img class="load-contents" src="../assets/virus-bacteria-microorganism-12-512.webp" height="50px" width="50px">
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="true" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item active load-contents" style="animation-delay: 0.2s;">
                <a class="nav-link" routerLink=''>Home <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item load-contents" style="animation-delay: 0.3s;">
                <a class="nav-link" routerLink="/covid-india">India's Data</a>
              </li>
              <li class="nav-item load-contents" style="animation-delay: 0.4s;">
                <a class="nav-link" routerLink="/stats">Detailed Statistics</a>
              </li>
              <li class="nav-item load-contents" style="animation-delay: 0.5s;">
                <a class="nav-link" routerLink="/faq">FAQ</a>
              </li>
            </ul>
          </div>
    </nav>
 

